@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  color: #fff;
  scroll-behavior: smooth;



    fontFamily: "BalooBhaijaan2";
    fontWeight: "500";
 


}
.bglol {
  background-image: url(../public//ico/bg.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(18, 25, 41, 0.897);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




@font-face {
  font-family: "BalooBhaijaan2";
  src: url("/fonts/EBGaramond/EBGaramond-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "BalooBhaijaan2";
  src: url("/fonts/static/BalooBhaijaan2-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "BalooBhaijaan2";
  src: url("/fonts/static/BalooBhaijaan2-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "BalooBhaijaan2";
  src: url("/fonts/static/BalooBhaijaan2-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}



@media  (max-height: 550px) {
  .hidden-mob {
    display: none;
  }
}
@media  (min-width: 550px) {
  .input-filed-size {
    margin-right: 0;
    margin-left: 0;
    width: auto
  }
}
