@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  color: #fff;
  scroll-behavior: smooth;
}
.bglol {
  background-image: url(../public//ico/bg.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(18, 25, 41, 0.897);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
